<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uchinoko.uchinokomanagement.repository.OriginalCharacterRepository">

  <!-- うちのこ詳細一覧検索 -->
  <select id="search"
    resultType="com.uchinoko.uchinokomanagement.data.OriginalCharacter">
    SELECT * FROM characters
    ORDER BY id
  </select>

  <!-- うちのこ新規登録 -->
  <insert id="insert"
    parameterType="com.uchinoko.uchinokomanagement.data.OriginalCharacter">
    INSERT INTO characters (
    name,
    ruby,
    real_age,
    look_age,
    gender,
    race,
    world_name,
    appearance,
    personality,
    ability,
    description
    ) VALUES (
    #{name},
    #{ruby},
    #{realAge},
    #{lookAge},
    #{gender},
    #{race},
    #{worldName},
    #{appearance},
    #{personality},
    #{ability},
    #{description}
    )
  </insert>

  <!-- うちのこ詳細更新 -->
  <update id="update"
    parameterType="com.uchinoko.uchinokomanagement.data.OriginalCharacter">
    UPDATE characters
    SET
    name = #{name},
    ruby = #{ruby},
    real_age = #{realAge},
    look_age = #{lookAge},
    gender = #{gender},
    race = #{race},
    world_name = #{worldName},
    appearance = #{appearance},
    personality = #{personality},
    ability = #{ability},
    description = #{description},
    updated_at = CURRENT_TIMESTAMP
    WHERE id = #{id}
  </update>

  <!-- うちのこ詳細ID検索 -->
  <select id="findById"
    parameterType="java.lang.Integer"
    resultType="com.uchinoko.uchinokomanagement.data.OriginalCharacter">
    SELECT * FROM characters WHERE id = #{id}
  </select>

  <!-- うちのこ物理削除 -->
  <delete id="delete">
    DELETE FROM characters WHERE id = #{id}
  </delete>
</mapper>