<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uchinoko.uchinokomanagement.repository.OriginalCharacterRepository">

  <select id="search"
    resultType="com.uchinoko.uchinokomanagement.data.OriginalCharacter">
    SELECT
    id,
    name,
    ruby,
    real_age,
    look_age,
    gender,
    race,
    world_name,
    appearance,
    personality,
    ability,
    description,
    created_at,
    updated_at
    FROM characters
    ORDER BY id
  </select>

  <insert id="insert"
    parameterType="com.uchinoko.uchinokomanagement.data.OriginalCharacter">
    INSERT INTO characters (
    name,
    ruby,
    real_age,
    look_age,
    gender,
    race,
    world_name,
    appearance,
    personality,
    ability,
    description
    ) VALUES (
    #{name},
    #{ruby},
    #{realAge},
    #{lookAge},
    #{gender},
    #{race},
    #{worldName},
    #{appearance},
    #{personality},
    #{ability},
    #{description}
    )
  </insert>
</mapper>